.site-header {
  position: relative;

  background-color: transparent; /* biar gambar background terlihat */
  z-index: 999;
  border-bottom: none; /* hilangkan border */
}

.site-hero {
  position: relative; /* supaya anak-anak absolute mengacu ke sini */
  background-size: cover;
  background-position: center;
}

.site-logo {
  position: absolute; /* bebas posisi di dalam site-hero */
  top: 2px;
  left: 20px;
  z-index: 10; /* agar muncul di atas gambar */
}

.site-logo a {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: white; /* biar tulisan kontras */
}
